/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/coverage/
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.gcda
/src/*.gcno
/src/*.o
/src/*.la
/src/*.lo
/stamp-h1
/test-driver
